In [2]:
import pandas as pd
import numpy as np 
import sklearn

### Reading and Preprocessing data

In [14]:
# Reading census dataset 
train_df=pd.read_csv("census.csv")
test_df=pd.read_csv("test_census.csv")

# Removing unwanted coloumns from our training
train_df=train_df.drop(["race","sex","education_level"],axis=1)
test_df=test_df.drop(["race","sex","education_level","Unnamed: 0"],axis=1)

In [15]:
# Replacing each string value in dataset with a corrosponding integer value
def preprocess(df):
    column = ["workclass","education-num","marital-status","occupation","relationship","native-country"]
    for col in column:
        Unique_values = list(df[col].unique())
        dic={}
        for x in range(len(Unique_values)):
            dic.update({Unique_values[x]:x+1})

        df[col]=df[col].map(dic).fillna(df[col])

In [17]:
preprocess(train_df)
train_df.head()

,age,workclass,education-num,marital-status,occupation,relationship,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,1,1,1,1,1,2174.0,0.0,40.0,1,<=50K
1,50,2,1,2,2,2,0.0,0.0,13.0,1,<=50K
2,38,3,2,3,3,1,0.0,0.0,40.0,1,<=50K
3,53,3,3,2,3,2,0.0,0.0,40.0,1,<=50K
4,28,3,1,2,4,3,0.0,0.0,40.0,2,<=50K

# models